.listPrice {
  color:#818181;
  margin-bottom:0;
  font-size:13px;
  text-decoration:line-through;
}
.sellingPrice {
  color:#2B327C;
  font-size:21px;
  font-family:"bold";
}
.installments--summary {
  font-size: 13px;
  color:#818181;
}

/* MOBILE */
@media screen and (max-width: 1024px) {
  .installments--summary{font-size:11px;}
  .sellingPrice{font-size:16px;}
}